.box {
  display: inline-block;
  background-color: #ddd;
  width: 150px;
  height: 150px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
