<!DOCTYPE html>
<html>
<head>
  <title>Hi vue</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" type="text/css" href="css/dom.css">
</head>
<body>
  <div id="app">
    {{ message }}
  </div>
  
  <div id="app2">
    <span :title="msg">Yo man welcome to this futuristic shit.</span>
  </div>

  <div id="app3">
    <div v-if="seen">Yoooo</div>
  </div>

  <div id="app4">
    <ol>
      <li v-for="item in items">
        {{ item.text }}
      </li>
    </ol>
  </div>
  
  <div id="app5">
    <div>{{ message }}</div>
    <button v-on:click="reverseMessage">REVERSEE</button>
  </div>

  <div id="app6">
    <p>{{ msg }}</p>
    <input v-model="msg" />
  </div>

  <div id="dom-app1">
    <h1 v-once>{{ title }}</h1>
    <p>
      {{ hello() }} - <a v-bind:href="link">Google</a>
    </p>
    <div v-html="finishedLink"></div>
  </div>

  <div id="dom-app2">
    <button v-on:click="increment(2, $event)">Up</button>
    <button v-on:click="counter++">Up</button>
    <p>{{ counter * 2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
    <p v-on:mousemove="updateCoordinates">
      Mouse now at: {{ x }} / {{ y }} - 
      <span @mousemove.stop="">NO MOUSEMOVE EVENT HERE! (stop)- </span>
      <span v-on:mousemove.prevent="">NO MOUSEMOVE EVENT HERE! (prevent) - </span>
      <span v-on:mousemove="prohibitmousemove">NO MOUSEMOVE EVENT HERE TOO!</span>
    </p>
    <input type="text" v-on:keyup.enter.space="alertYo" />
  </div>
  
  <div id="dom-app3">
    <input type="text" v-model="name" />
    <p>{{ name }}</p>
    <button v-on:click="counter++">increase</button>
    <button v-on:click="dummyCounter++">increase dummy</button>
    <p>{{ output }}</p>
    <p>{{ render() }}</p>
  </div>
  
  <div id="dom-app4">
    <div
      class="box" :class="{red: isRed}"
      @click="isRed = !isRed"
    ></div>
    <div class="box" :class="divClass"></div>
    <div class="box" :class="[color, {red: isRed}]"></div>
    <div class="box" :style="{'background-color': color}"></div>
    <div class="box" :style="myStyle"></div>
    <input type="text" v-model="color" />
    <input type="text" v-model="width" />
  </div>

  <div id="dom-app5">
    <template v-if="show">
      <p>Yo!</p>
      <h1>Nah..</h1>
    </template>
    <button @click="show = !show">Toggle</button>
    <ul>
      <li v-for="(item, i) in items">{{ item }} ({{ i }})</li>
    </ul>
    <ul>
      <template v-for="(item, i) in items">
        <label>{{ i }}.</label>
        {{ item }} 
      </template>
    </ul>
    <ul>
      <li v-for="person in persons" :key="person.name">
        <span v-for="(value, key, index) in person">
          {{ key }}: {{ value }} 
        </span>
      </li>
    </ul>
    <span v-for="i in 10">{{ i }}</span>
  </div>

  <div id="instance-app1">
    <h1>{{ text }}</h1>
    <button @click="text = 'Updated'">Update Text</button>
    <button @click="destroy">Destroy Text</button>
  </div>
  <script src="basic.js"></script>
  <script src="dom.js"></script>
  <script src="instance.js"></script>
</body>
</html>