<!DOCTYPE html>
<html>
<head>
  <title>Hi vue</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>
  
  <div id="app2">
    <span v-bind:title="msg">Yo man welcome to this futuristic shit.</span>
  </div>

  <div id="app3">
    <div v-if="seen">Yoooo</div>
  </div>

  <div id="app4">
    <ol>
      <li v-for="item in items">
        {{ item.text }}
      </li>
    </ol>
  </div>
  
  <div id="app5">
    <div>{{ message }}</div>
    <button v-on:click="reverseMessage">REVERSEE</button>
  </div>

  <div id="app6">
    <p>{{ msg }}</p>
    <input v-model="msg" />
  </div>

  <div id="dom-app1">
    <h1 v-once>{{ title }}</h1>
    <p>
      {{ hello() }} - <a v-bind:href="link">Google</a>
    </p>
    <div v-html="finishedLink"></div>
  </div>

  <div id="dom-app2">
    <button v-on:click="increment(2, $event)">Up</button>
    <p>{{ counter }}</p>
    <p v-on:mousemove="updateCoordinates">
      Mouse now at: {{ x }} / {{ y }} - 
      <span v-on:mousemove.stop="">NO MOUSEMOVE EVENT HERE! (stop)- </span>
      <span v-on:mousemove.prevent="">NO MOUSEMOVE EVENT HERE! (prevent) - </span>
      <span v-on:mousemove="prohibitmousemove">NO MOUSEMOVE EVENT HERE TOO!</span>
    </p>
  </div>
  <script src="basic.js"></script>
  <script src="dom.js"></script>
</body>
</html>